{% extends "base.html" %}
{% block content %}
<div class="ui container margin">
    <div class="ui horizontal segments">
        <div class="ui center aligned segment">
            <img class="ui centered medium image"
                src="{{ url_for('static', filename='images/student-icon-vector-76.png') }}" alt="">
            <p style="margin-top: 3rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="ui segment">
            <div style="text-align: right; font-size: 2rem">
                <a href="{{ url_for('teacher_registration') }}">I am a Teacher</a>
            </div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="ui huge form">
                    <div class="field">
                        <label style="color: #c59d5f;">Username</label>
                        {% if form.username.errors %}
                        <div class="ui form error">
                            <div class="field error">
                                {{ form.username }}
                            </div>    
                            <div class="ui error message">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>    
                        {% else %}
                        {{ form.username(placeholder="Username") }}
                        {% endif %}
                    </div>
                    <div class="field">
                        <label style="color: #c59d5f;">Student ID</label>
                        {% if form.student_id.errors %}
                        <div class="ui form error">
                            <div class="field error">
                                {{ form.student_id }}
                            </div>    
                            <div class="ui error message">
                                {% for error in form.student_id.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>    
                        {% else %}
                        {{ form.student_id(placeholder="Your Roll") }}
                        {% endif %}
                    </div>
                    <div class="field">
                        <label style="color: #c59d5f;">E-mail</label>
                        {% if form.email.errors %}
                        <div class="ui form error">
                            <div class="field error">
                                {{ form.email }}
                            </div>    
                            <div class="ui error message">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div> 
                        {% else %}
                        {{ form.email(placeholder="Enter your Email") }}
                        {% endif %}
                    </div>
                    <div class="field">
                        <label style="color: #c59d5f;">Password</label>
                        {% if form.password.errors %}
                        <div class="ui form error">
                            <div class="field error">
                                {{ form.password }}
                            </div>    
                            <div class="ui error message">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div> 
                        {% else %}
                        {{ form.password }}
                        {% endif %}
                    </div>
                    <div class="field">
                        <label style="color: #c59d5f;">Confirm Password</label>
                        {% if form.confirm_password.errors %}
                        <div class="ui form error">
                            <div class="field error">
                                {{ form.confirm_password }}
                            </div>    
                            <div class="ui error message">
                                {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div> 
                        {% else %}
                        {{ form.confirm_password }}
                        {% endif %}
                    </div>
                    <div>
                        {{ form.submit(class="ui huge submit button") }}
                    </div>
                </div>
            </form>
            <div class="ui bottom attached warning message" style="margin-top: 1.5rem;">
                <i class="icon help"></i>
                Already signed up? <a href="{{ url_for('login') }}">Login here</a> instead.
            </div>
        </div>
    </div>
</div>
{% endblock %}